<%- include('header'); -%>
<div class="container pt-5">
  <h2 class="playfair">About</h2>
  <p>Nullam sit amet ipsum ut orci lobortis ultrices in eget eros. Nam eros velit, aliquam eget feugiat dapibus, varius vel metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis fermentum non mauris id
    suscipit. Phasellus nec iaculis tortor, id fringilla tortor. Suspendisse at condimentum ante. Sed sit amet fermentum diam. Curabitur hendrerit magna metus, a varius nisi tempus at. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Phasellus lacinia pretium erat id eleifend. Suspendisse vitae auctor felis. Morbi id lacus pharetra, tempor tortor et, bibendum ligula. Sed lobortis lorem ex, vitae rhoncus libero bibendum vitae. Phasellus
    dignissim arcu id lectus elementum, volutpat fringilla lacus volutpat. Curabitur tincidunt nisi tortor, dictum vulputate metus bibendum ac. Mauris eget orci porta, mollis nulla nec, accumsan ante.</p>
</div>
<%- include('footer'); -%>
