<%- include('header'); -%>
<div class="container py-5">
  <form class="" action="/" method="post">
    <div class="mb-3">
      <label for="title" class="form-label fw-bold">Title</label>
      <input type="text" class="form-control" name = "title" placeholder="Title">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label fw-bold">Content</label>
      <textarea class="form-control" rows="6" name = "content"></textarea>
    </div>
    <button type="submit" name="button" class="btn btn-dark">Submit</button>
  </form>
</div>




<%- include('footer'); -%>
