<!-- header + navbar -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand playfair" href="/">Linda's Personal Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-3">
              <a class="nav-link link" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item px-3">
              <a class="link nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item px-3">
              <a class="link nav-link" href="/contact">CONTACT US</a>
            </li>
            <!--Instagram-->
            <li class="nav-item px-3">
              <a class="nav-link" href="https://www.instagram.com/helloitslindaaa/" target="_blank"><img
                  src="https://cdn-icons-png.flaticon.com/512/1400/1400829.png" alt="instagram-icon" height=25px></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
