<!-- header + navbar -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title><%=title%></title>
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/icon.ico">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand playfair" href="/"><i>Linda's Personal Blog</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-3">
              <a class="nav-link link" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link link" aria-current="page" href="/compose">COMPOSE</a>
            </li>
            <li class="nav-item px-3">
              <a class="link nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item px-3">
              <a class="link nav-link" href="/contact">CONTACT</a>
            </li>
            <!--GitHub-->
            <li class="nav-item px-3">
              <a class="nav-link" href="https://www.github.com/lindaislinda" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
            </li>
            <!-- LinkedIn -->
            <li class="nav-item px-3">
              <a class="nav-link" href="https://www.linkedin.com/in/linda--nguyen/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
